.Item {
  display: flex;
  justify-content: flex-start;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  padding: 20px;
}

.Item-price {
  padding: 20px 20px 20px 20px;
  align-content: flex-end;
}

.Item-quantity {
  padding: 20px 5px 20px 20px;
  margin-left: 22px;
}

.Item-btn{
  width: 76px;
}
