.CartItem {
  display: flex;
  justify-content: flex-start;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-title {
  width: 100%;
  padding: 20px 10px;
}

.CartItem-actions {
  display: flex;
  padding: 20px;
}

.CartItem-price {
  padding: 20px 20px 20px 20px;
  align-content: flex-end;
}

.CartItem-quantity {
  padding: 20px 5px 20px 20px;
  margin-left: 22px;
}

.CartItem-btn{
  width: 76px;
}
